.tf_form_group{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: "radio label";
    margin-top: 1rem;
}

.tf_form_label{
    grid-area: label;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.m_form_group{
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-areas: "radio label";
    margin-top: 1rem;
}

.m_form_label{
    grid-area: label;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}