textarea {
    resize: none;
}

.centered-div {
    margin: 16px 45%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% auto;
}

.creator-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 250px;
}